<div class="">
  <mat-card class="d-flex  justify-content-center align-items-center">
    <form [formGroup]="this.form">
      <h2>Log In</h2>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="login()">Login</button>
      <p><a routerLink="/signup">Don't have an account? Register here</a></p>
    </form>
  </mat-card>
</div>