<h2 class="text-center my-3">Insurance details</h2>
<table mat-table [dataSource]="insurances" class="mat-elevation-z2">

  <b><tr mat-header-row *matHeaderRowDef="displayedColumns"></tr></b>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
   
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> userid </th>
      <td mat-cell *matCellDef="let element"> {{element.username }} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Insurance Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type }} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let element"> {{element.amount |currency:'INR'}} </td>
    </ng-container>
   
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> startDate </th>
      <td mat-cell *matCellDef="let element"> {{element.startDate | date }} </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> endDate </th>
      <td mat-cell *matCellDef="let element"> {{element.endDate | date }} </td>
    </ng-container>
  
    <ng-container matColumnDef="maxClaim">
      <th mat-header-cell *matHeaderCellDef>Maximum Claim</th>
      <td mat-cell *matCellDef="let element"> {{element.maxClaim }} </td>
    </ng-container>
    
  </table>
  
  