<mat-drawer-container style="height: 100%;" class="example-container">
  <mat-drawer #drawer opened="true" mode="side" position="start"  >
    <mat-nav-list>
      <mat-list-item routerLink="/home">
        <button mat-button><mat-icon>home</mat-icon>Home</button>
      </mat-list-item>
      <mat-list-item routerLink="/insurances">
        <button mat-button><mat-icon>account_balance</mat-icon>Insurances</button>
      </mat-list-item>
      <mat-list-item routerLink="/claimApplication">
        <button mat-button><mat-icon>input</mat-icon>Apply for Claim</button>
      </mat-list-item>
      <mat-list-item routerLink="/insuranceApplication">
        <button mat-button><mat-icon>trending_up</mat-icon>Buy new Insurance</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
</mat-drawer-container>