<mat-card>
    <mat-card-header class="header py-3">
        <mat-card-title-group>
            <mat-card-title>Chubb {{insurancePolicy?.type | titlecase}} Insurance starting at {{insurancePolicy?.amount}}/year</mat-card-title>
            <mat-card-subtitle class="pt-3"> <button mat-raised-button color="primary">Get Quote</button></mat-card-subtitle>
            <img mat-card-sm-image
                src="https://about.chubb.com/content/dam/chubb-sites/chubb-com/us-en/about-chubb/chubb-history/images/2016.jpg">
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <h2 class="text-center pt-2">Key highlights & Features of Policy</h2>
        <div class="highlights d-flex justify-content-center gap-3 flex-wrap">
            <mat-card *ngFor="let i of insurancePolicy?.description">
                <mat-card-content>{{i}}</mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
</mat-card>
<p class="text-center pt-2"><span class="text-danger fw-bold">Note: </span>This policy is available only for Chubb
    Limited Customers. By Proceeding, you agree to the <a href="">terms and conditions.</a></p>

<div class="container">
    <div class="container-left">
        <h2>Eligibility criteria and documents required</h2>
        <img src="https://images.pexels.com/photos/7821684/pexels-photo-7821684.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="image not found" width="90%" height="75%">
        <p class="py-2">Get acquainted with the full range of benefits of the plan</p>
    </div>
    <div class="container-right">
        <p>Anyone can apply for Chubb group Activ {{insurancePolicy?.type}} plan as long as you meet basic criteria mentioned below.
            If you meet all the eligibility criteria, we will need some basic criteria mentioned below.</p>
        <h3>Eligibility criteria</h3>
        <ul>
            <li>Exclusively for Chubb Finance customers</li>
            <li>Nationality: Indian</li>
            <li>Age (adults): 18 years and above</li>
            <li>Age (dependent children): 0-25 years</li>
        </ul>
        <h3>Documents required</h3>
        Only basic information required while buying the policy:
        <ul>
            <li>Date of birth as per the PAN card</li>
            <li>Valid 10-digit mobile number</li>
            <li>Residential PIN code</li>
        </ul>
    </div>
</div>
