.applyInsurance{
    background-color: rgb(216, 233, 245);
    min-height: 100vh;
    .form{
        mat-form-field{
            padding: 5px 0px 25px 2px;
             width: 80%;
            
        }
    }
}